.header {
    width:100vw;
    background:rgba(0,0,0, 0.4);
    margin-bottom:2vh;
    
    figure {
        img {
        }
    }
    
    nav {
        grid-row:2/3;
        
        ul{
            display:grid;
            grid-template-columns:0.3fr repeat(4,1fr);
            padding:10px;
            align-self:center;
            
            li {
                display:inline-block;
                color:#fff;
            }
        }
    }
}